
*.cookies.txt
.DS_Store
.fingerprints.json
.itunes_fp_cache.json
.venv/
__pycache__/
add_missing.py
cookies.json
cookies.txt
dedupe_quarantine_report.txt
downloads/
fpcalc.exe
itunes_dedupe_report.txt
itunes_full_clean_dryrun.txt
metadata_cleanup_dry_run.txtitunes_cleanup_dry_run.txt
missing_from_downloads.txt
new_songs_to_add.txt
run_all.py
